table,
tr,
td {
    border: 3px solid black;
    border-collapse: collapse;
}

table {
    width: 80%;
}

tr {
    height: 50px;
}

td {
    width: 100px;
}

.fah {
    text-align: center;
    font-weight: 900;
    color: red;
    background-color: gray;
}

.fah:hover {
    background-color: red;
    color: black;
}

.row-2 {
    background-color: yellow;
}

.row-2-t-2 {
    background-color: red;
}